.button {
    -fx-background-color: 
        #3c7fb1,
        linear-gradient(#fafdfe, #e8f5fc),
        linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 10 3 10;
    -fx-text-fill: black;
    -fx-font-size: 12px;
}
.text-area {
    -fx-font-family: Consolas;
    -fx-font-size: 12.0;
    -fx-text-fill: #000000;
    -fx-display-caret:true;
}
.text-area .content {
    -fx-background-color: #f4dea8;
}
.label {
	-fx-font: normal bold 12px verdana;
}
.pane {
    -fx-background-color: #8fbc8f;
}
.grid {
    -fx-background-color: blue;
    -fx-background-radius: 5.0;
    -fx-background-insets: 0.0 5.0 0.0 5.0;
    -fx-padding: 10;
    -fx-hgap: 10;
    -fx-vgap: 10;
}